dbNameProp="javarel"
hostProp="localhost"
name="mysql"
passwordProp="toor"
portProp="3306"
service.factoryPid="com.neva.javarel.storage.database.impl.connection.MySqlDatabaseConnection"
service.pid="com.neva.javarel.storage.database.impl.connection.MySqlDatabaseConnection.localhost"
userProp="root"
